<!DOCTYPE html>
<html lang="en">

<head class="head text-white p-3">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>login</title>

    <div class="divHead">
        <img src="/images/track.png" alt="logoTrack" class="logotrack">
  
    </div>


</head>

<body>
    <div class="grilla">
        <h3 class="welcome fw-bold">Bienvenido!</h3>
        <img src="/images/logoBus.jpg" alt="logoBus" class="logoBus">

        <form action="/user/login" method="post" class="px-4 py-3 login">
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label fw-bold">Correo</label>
                <input type="email" class="form-control largo" id="exampleDropdownFormEmail1"
                    placeholder="email@ejemplo.com"  name="correo">
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label fw-bold">Contraseña</label>
                <input type="password" class="form-control largo" id="exampleDropdownFormPassword1"
                    placeholder="Contraseña" name="contra">
            </div>
            <button type="submit" class="btn btn-primary" >Ingresar</button> <!--al momento de hacer submit tiene que hacer un post.                                                                  hace las validaciones -->
        </form>
        <div class="dropdown-divider"></div>
    </div>
</body>

<footer class="footer text-white p-3">
    Created by Josue Molina
</footer>

</html>