
  .contenedor {
      width: 1500px;
      /* más ancho */
      min-height: 600px;
      /* más largo */
      margin-left: 250px;
      /* espacio para tu offcanvas a la izquierda */
      background: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-left: 7px;
  }

  h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
  }

  .filtros {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 10px;
  }

  .filtros label {
      font-weight: bold;
      margin-right: 5px;
  }


  .filtros input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  table.dataTable {
      width: 100% !important;
      border-collapse: collapse;
  }

  table.dataTable th {
      background-color: #dc3545;
      /* rojo estilo Bootstrap */
      color: white;
      text-align: center;
  }

  table.dataTable td {
      text-align: center;
  }