.crud {
    all: unset;
    position: absolute;
    color: black;
    top: 5%;
    left: 45%;

}

.titulo {
    background: linear-gradient(135deg, #ff0000, #cc0000);
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    text-transform: uppercase;

}

.titulo:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


.contenedor {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
    min-height: 400px;
    background: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.filtros label {
    font-weight: bold;
    margin-right: 5px;
}


.filtros input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table.dataTable {
    width: 100% !important;
    border-collapse: collapse;
}


table.dataTable td {
    text-align: center;
}

.costo {
    all: unset;
    position: absolute;
    margin-left: 60%;
    color: #ff0000;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.limpier {
    all: unset;
    position: absolute;
     margin-left: 50%;
}