.crud {
    all: unset;
    position: absolute;
    color: black;
    top: 5%;
    left: 45%;

}

.titulo {
    background: linear-gradient(135deg, #ff0000, #cc0000);
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    text-transform: uppercase;

}

.titulo:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.input_search {
    all: unset;
    position: absolute;
    left: 17%;
    top: 20%;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    height: 40px;
    flex: 1;
}

.buscar {
    width: 80px;
    height: 40px;
    top: 22%;
    margin-left: 10px;
    margin-top: 0px;
    
}

.crear {
    width: 200px;
    height: 40px;
}

.table {
    margin-top: 280px;
}