.crud {
    all: unset;
    position: absolute;
    color: black;
    top: 5%;
    left: 45%;

}

.titulo {
    background: linear-gradient(135deg, #ff0000, #cc0000);
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    text-transform: uppercase;

}

.titulo:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.input_search {
    all: unset;
    position: absolute;
    left: 17%;
    top: 20%;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    height: 40px;
    flex: 1;
}

.buscar {
    width: 80px;
    height: 40px;
    top: 22%;
    margin-left: 10px;
    margin-top: 0px;

}

.crear {
    width: 200px;
    height: 40px;
}

.tabla {
    margin-top: 300px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn-toggle {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-toggle:hover {
    background-color: #0056b3;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: darkred;
}

.btn-close {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.botonActualizar {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal-title {
    font-size: large;
    margin-left: 31%;
}


