.card {
    border-radius: 12px;
    overflow: hidden;
    max-width: 700px;
    margin: auto;
}

.card-header {
    background: linear-gradient(90deg, #dc3545, #b02a37);
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    font-weight: 600;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    font-weight: 600;
}

.form-label {
    font-weight: 500;
}

.tarifa-transportista-input {
    width: 100%;
    height: 35px;
    /* más bajo que el estándar */
    font-size: 1.1rem;
    /* texto más grande */
    padding: 5px 10px;
    /* menos padding vertical */
    background-color: #f8f9fa;
}